// header style
.header__list{
    & ul{
         display: flex;
         margin: 0 450px;
         gap: 25px;
    }
   
}
.header__container{
    display: flex;
    margin: 53px 32px;
    
}
.header__links{
    display: flex;
    &__link1{
        border: 2px solid black;
        padding: 15px 32px;
        border-radius: 28px;
    }
    &__link2{
        border: 2px solid black;
        padding: 10px;
        border-radius: 28px;
    }
}