.works__head-link{
    border: 2px solid black;
    padding: 15px;
    padding-left: 25px;
        border-radius: 28px;
       width: 130px;
}
.works{
    margin-top: 100px;
    &__head{
        display: flex;
        &__links{
            display: flex;
            margin-left: 650px;
            margin-top: 180px;
            &-link1{
                border: 2px solid black;
                text-align: center;
                padding: 10px 20px;
                padding-top: 15px;
                width: 150px;
                height: 50px;
                border-radius: 24px;
                background-color: black;
                color: white;
            }
            &-link2{
                border: 2px solid black;
                padding: 10px;
                width: 50px;
                height: 50px;
                border-radius: 24px;
                background-color: black;
                color: white;
            }
        }
    }
}
.works__cards{
    display: flex;
    gap: 100px;
    &__card{
        & img{
            border-radius: 24px;
        }
        &-link{
            position: absolute;
            margin-left: 450px;
            margin-top: 20px;
            border: 2px solid white;
            border-radius: 24px;
            padding: 10px;
            color: white;
        }
    }
}