.button1{
    // стили для кнопки
   
        border: 2px solid black;
        padding: 15px 32px;
        border-radius: 28px;
    }
 .button2{
        border: 2px solid black;
        padding: 15px;
        border-radius: 28px;
        align-items: center;
 }